/*--START MAIN--------------------*/
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .main__title{
    margin-bottom: 1rem;
  }
}
/*--END MAIN--------------------*/